$font-family: "OpenSans", "Tahoma", "Verdana", sans-serif;
$mobile-only: 767px;
$tablet: 768px;
$desktop: 1150px;
$bg-color-white: #ffffff;
$main-nav-border: #ececec;
$user-menu-hover: rgb(99, 209, 187);
$user-menu-active: rgba(99, 209, 187, .3);
$btn: #444444;
$btn-font-color: rgb(255, 255, 255);
$btn-color-active: rgba(255, 255, 255, .7);
$link-font-color: rgb(0, 0, 0);
$link-color-hover: rgba(0, 0, 0, .6);
$link-color-active: rgba(0, 0, 0, .3);
$featured-font-color: $btn;
$slider-descr-font-color: $featured-font-color;
$form-icon-c: #cccccc;
$form-border-top-color: #62d1ba;
$form-border-bottom-color: $link-font-color;
$form-color-border-active: #c7c7c7;
$products-card-border: #ededed;
$promo-bg: #f1f1f1;
$page-footer-bg: $promo-bg;
$promo-item-bg: rgb(99, 209, 187);
$promo-top-border: #dfdfdf;
$page-footer-border: #e5e5e5;
$contacts-emai-border: rgb(70, 193, 174);
$contacts-emai-active: rgba(70, 193, 174, .3);
$footer-link-color-hover: $contacts-emai-border;
$footer-link-color-active: $contacts-emai-active;
