$font-family: "OpenSans", "Tahoma", "Verdana", sans-serif;
$main-nav-border: #ececec;
$btn: #444444;
$link-font-color: #000000;
$featured-font-color: $btn;
$mobile-only: 767px;
$tablet: 768px;
$desktop: 990px;
$desktop-lg: 1150px;
$slider-descr-font-color: $featured-font-color;
$promo-bg: #f1f1f1;
$form-border-top-color: #62d1ba;
$form-border-bottom-color: $link-font-color;
$page-footer-bg: $promo-bg;
$products-card-border: #ededed;
$promo-item-bg: #63d1bb;
$promo-item-bg: #63d1bb;
$promo-top-border: #e7e7e7;
$page-footer-border: #e5e5e5;
