$font-family: "OpenSans", "Tahoma", "Verdana", sans-serif;
$main-nav-border: #ececec;
$btn: #444444;
$link-font-color: #000000;
$featured-font-color: #444444;
$tablet: 768px;
$desktop: 960px;
$desktop-lg: 1150px;
$slider-descr-font-color: $featured-font-color;
$promo-bg: rgb(241, 241, 241);
