.btn {
  display: block;
  padding: 14px 10px;
  color: $btn;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 1.2;
  border: 2px solid $btn;
  font: {
    size: 1.7rem;
    weight: bold;
  }
}
