.contacts {
  padding-top: 35px;
  padding-bottom: 40px;
}

.contacts__descr {
  font-size: 1.5rem;
  line-height: 2;
  color: $btn;
}

.contacts__descr,
.contacts__wrap-btn {
  padding: 0 30px;
}

.contacts__descr-top {
  margin-bottom: 30px;
}

.contacts__top-item:last-child {
  cursor: pointer;
  border-bottom: 1px solid $contacts-emai-border;

  &:hover {
    color: $contacts-emai-border;
  }

  &:active {
    border-bottom: 1px solid $contacts-emai-active;
    color: $contacts-emai-active;
  }
}

.contacts__top-item:first-child,
.contacts__bottom-item:first-child {
  margin-right: 28px;
}

.contacts__bottom-item:nth-child(n+3) {
  display: block;
  padding-left: 79px;
}

.contacts__descr-bottom {
  margin-bottom: 35px;
}

.contacts__title {
  font-size: 1.8rem;
  line-height: 1.66;
  margin-bottom: 25px;
}

.contacts__map {
  width: 100%;
  height: 457px;
  background: url("../img/map.jpg") no-repeat;
  margin-bottom: 40px;
  background-size: cover;

  img {
    width: 100%;
  }
}

.contacts__btn:hover {
  background-color: $btn;
  color: $btn-font-color;
}

.contacts__btn:active {
  color: $btn-color-active;
}

@media (min-width: $tablet) {
  .contacts {
    padding-top: 65px;
    padding-bottom: 55px;
  }

  .contacts__wrap {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      right: 50px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__descr,
  .contacts__wrap-btn {
    padding: 0 50px;
  }

  .contacts__descr {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.7rem;
    line-height: 1.76;
    margin-bottom: 55px;
  }

  .contacts__descr-top,
  .contacts__descr-bottom {
    flex-basis: 200px;
    flex-grow: 1;
    margin: 0;
  }

  .contacts__bottom-item:first-child {
    margin-right: 20px;
  }

  .contacts__bottom-item:nth-child(3),
  .contacts__bottom-item:nth-child(4) {
    display: inline-block;
  }

  .contacts__bottom-item:nth-child(4) {
    padding-left: 0;
  }

  .contacts__bottom-item:nth-child(2) {
    margin-right: 98px;
  }

  .contacts__title {
    width: 100%;
    font-size: 4.3rem;
    line-height: 1.16;
    margin-bottom: 45px;
  }

  .contacts__wrap-btn {
    text-align: center;
  }

  .contacts__btn {
    display: inline-block;
    padding-left: 39px;
    padding-right: 39px;
  }

  .contacts__map {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 105px;
  }

  .contacts__wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;

    @include container();

    &::before {
      top: 65px;
      left: 115px;
    }
  }

  .contacts__descr,
  .contacts__wrap-btn {
    padding: 0;
  }

  .contacts__descr {
    display: flex;
    flex-direction: column;
    width: 29%;
    padding-left: 175px;
    padding-top: 75px;
    margin-bottom: 0;
  }

  .contacts__title {
    margin-bottom: 45px;
  }

  .contacts__descr-top,
  .contacts__descr-bottom {
    flex-basis: auto;
    flex-grow: 0;
  }

  .contacts__bottom-item:nth-child(2) {
    margin-right: 0;
  }

  .contacts__descr-top {
    margin-bottom: 30px;
  }

  .contacts__map {
    width: 50%;
    margin-bottom: 0;
  }

  .contacts__wrap-btn {
    position: absolute;
    bottom: 0;
    left: 225px;
  }
}
