.contacts {
  padding-top: 35px;
  padding-bottom: 40px;

  &__descr {
    font-size: 1.5rem;
    line-height: 2;
    color: $btn;
  }

  &__descr,
  &__wrap-btn {
    padding: 0 30px;
  }

  &__descr-top {
    margin-bottom: 30px;
  }

  &__top-item:last-child {
    cursor: pointer;
    border-bottom: 1px solid $contacts-emai-border;

    &:hover {
      color: $contacts-emai-border;
    }

    &:active {
      border-bottom: 1px solid $contacts-emai-active;
      color: $contacts-emai-active;
    }
  }

  &__top-item:first-child,
  &__bottom-item:first-child {
    margin-right: 28px;
  }

  &__bottom-item:nth-child(n+3) {
    display: block;
    padding-left: 79px;
  }

  &__descr-bottom {
    margin-bottom: 35px;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 1.66;
    margin-bottom: 30px;
  }

  &__map {
    width: 100%;
    height: 457px;
    background: url("../img/map.jpg") no-repeat;
    margin-bottom: 40px;
    background-size: cover;

    img {
      width: 100%;
    }
  }

  &__btn:hover {
    background-color: $btn;
    color: $btn-font-color;
  }

  &__btn:active {
    color: $btn-color-active;
  }
}

@media (min-width: $tablet) {
  .contacts {
    padding-top: 30px;
    padding-bottom: 57px;

    &__wrap {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -15px;
        right: 50px;
        width: 47px;
        height: 81px;
        background-image: url("../img/icon-flag.svg");
      }
    }

    &__descr,
    &__wrap-btn {
      padding: 0 50px;
    }

    &__descr {
      display: flex;
      flex-wrap: wrap;
      font-size: 1.7rem;
      line-height: 1.76;
      margin-bottom: 30px;
    }

    &__descr-top,
    &__descr-bottom {
      flex-basis: 200px;
      flex-grow: 1;
      margin: 0;
    }

    &__title {
      width: 100%;
      font-size: 4.3rem;
      line-height: 1.16;
      margin-bottom: 50px;
    }

    &__wrap-btn {
      text-align: center;
    }

    &__btn {
      display: inline-block;
      padding-left: 39px;
      padding-right: 39px;
    }

    &__map {
      margin-bottom: 55px;
    }
  }
}

@media (min-width: $desktop) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 105px;

    &__wrap {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 50px;
      @include container();

      &::before {
        top: 65px;
        left: 50px;
      }
    }

    &__descr,
    &__wrap-btn {
      padding: 0;
    }

    &__descr {
      display: flex;
      flex-direction: column;
      width: 29%;
      padding-left: 175px;
      padding-top: 75px;
      margin-bottom: 0;
    }

    &__title {
      margin-bottom: 50px;
    }

    &__descr-top,
    &__descr-bottom {
      flex-basis: 0;
      flex-grow: 0;
    }

    &__descr-top {
      margin-bottom: 30px;
    }

    &__map {
      width: 50%;
      margin-bottom: 0;
    }

    &__wrap-btn {
      position: absolute;
      bottom: 0;
      left: 225px;
    }
  }
}
