.featured {
  padding-top: 34px;

  &__wrap {
    padding: 0 30px;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__title-item {
    font-size: 2.5rem;
    line-height: 1.2;

    &:last-child {
      font-size: 1.7rem;
      line-height: 1.17;
      text-transform: uppercase;
      color: #63d1bb;
    }
  }

  &__descr {
    font-size: 1.5rem;
    line-height: 1.6;
    color: $featured-font-color;
    margin-bottom: 25px;
  }

  &__property {
    font-size: 1.5rem;
    line-height: 1.33;
    color: $featured-font-color;
    margin-bottom: 30px;
  }

  &__img {
    margin-bottom: 25px;

    img {
      width: 100%;
    }
  }

  .featured__descr-price-info {
    text-align: center;
  }

  &__price {
    display: inline-block;
    font-size: 1.7rem;
    line-height: 1.17;
    font-weight: bold;
    color: $featured-font-color;
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet) {
  .featured__wrap {
    padding: 0 50px;
  }

  .featured__descr-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .featured__descr-inner {
    width: 43.5%;
    padding-bottom: 100px;
  }

  .featured__img {
    width: 50%;
    margin-bottom: 0;
  }

  .featured__title {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 55px;
  }
  .featured__descr {
    margin-bottom: 45px;
  }

  .featured__title-item {
    font-size: 4.3rem;
    line-height: 1.17;

    &:last-child {
      width: 100px;
      line-height: 1;
    }
  }

  .featured__descr-price-info {
    position: absolute;
    bottom: 0;
    width: 43.5%;
  }
}

@media (min-width: $desktop) {
  .featured {
    padding-top: 70px;
    padding-bottom: 95px;
  }

  .featured__wrap {
    position: relative;
  }

  .featured__descr-wrap {
    padding-left: 175px;
  }

  .featured__title {
    position: absolute;
    top: 60px;
    left: 100px;
    z-index: 1;
  }

  .featured__descr-inner {
    width: 33.5%;
    padding-top: 160px;
  }

  .featured__descr {
    font-size: 1.7rem;
    line-height: 1.76;
  }

  .featured__img {
    width: 60%;
  }

  .featured__descr-price-info {
    width: 28%;
    left: 175px;
  }

  .featured__price {
    font-size: 2rem;
    line-height: 1.2;
  }

  .featured__title-item:last-child {
    width: 75px;
    margin-right: 55px;
    order: -1;
  }
}

