.form {
  padding-top: 29px;
  font-size: 1.7rem;
  line-height: 1.1;
  font-weight: bold;

  &__wrap {
    padding: 0 9.5%;
  }

  &__descr {
    font-size: 1.3rem;
    line-height: 1.85;
    color: #444;
    margin-bottom: 30px;
  }

  fieldset {
    border-top: 1px solid #62d1ba;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  legend {
    padding-right: 10px;
    color: #63d1bb;
  }

  input {
    border: 0;
    outline: none;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
  }

  &__type input,
  &__color input {
    display: none;
  }

  &__type-item,
  &__color-item {
    padding-left: 60px;
  }

  &__type-item {
    margin-bottom: 25px;
  }

  &__color-item {
    margin-bottom: 43px;
  }

  &__username-item {
    margin-bottom: 25px;
  }


  &__username-input,
  &__tel-input,
  &__email-input,
  &__additionally textarea {
    width: 100%;
  }

  &__additionally textarea {
    min-height: 138px;
    border: 2px solid #000;
    box-sizing: border-box;
  }

}
