.page-footer {
  background-color: $page-footer-bg;

  &__wrap {
    padding: 0 30px;
  }

  &__logo {
    display: none;
    cursor: pointer;

    &:hover svg {
      fill: $footer-link-color-hover;
    }

    &:active svg {
      fill: $footer-link-color-active;
    }
  }

  &__copyright-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    line-height: 1;
    font-weight: bold;
    color: $link-font-color;
    text-decoration: none;
    padding: 23px 0;

    &:active {
      color: $link-color-active;
    }

    svg {
      margin-left: 30px;
      fill: $user-menu-hover;
    }

    &:hover svg {
      fill: $footer-link-color-hover;
    }

    &:active svg {
      fill: $footer-link-color-active;
    }
  }

  &__social-list {
    border-bottom: 1px solid $page-footer-border;
  }
}

@media (min-width: $tablet) {
  .page-footer {

    &__wrap {
      max-width: 1150px;
      margin: 0 auto;
      padding: 53px 50px;
      display: flex;
      justify-content: space-between;
    }

    &__logo {
      display: block;
    }

    &__copyright-item  {
      padding: 0;
    }

    &__social-list {
      border-bottom: 0;
    }
  }
}
