.promo {
  background: #fafafa url("../img/hero-mobile@1x.jpg") no-repeat center -20px;
  padding-top: 75px;

  &__text {
    margin-bottom: 120px;
    font-size: 2.7rem;
    line-height: 1.1;
    text-align: center;
    padding: 0 30px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: $promo-item-bg;
    text-decoration: none;

    svg {
      fill-opacity: 0.3;
    }

    &--bg {
      background-color: #56c3b2;
    }
  }

  &__item-title {
    color: #fff;
    line-height: 1.25;
    font: {
      size: 1.9rem;
      weight: bold;
    }
  }

  &__info {
    display: none;
  }
}

@media (min-width: $tablet) {
  .promo {
    position: relative;
    border-top: 1px solid $promo-top-border;
    margin-top: -45px;
    padding-top: 160px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position-y: -30px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 34px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: center;
    }

    &__text {
      width: 100%;
      font-size: 4.3rem;
      line-height: 1.16;
      margin-bottom: 370px;
    }

    &__wrap {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 50px;

      @include container();
    }

    &__item {
      width: 50%;
      box-sizing: border-box;
      text-decoration: none;
      padding: 50px 35px;
      padding-top: 30px;
      align-self: flex-start;

      &:hover {
        transform: translateY(-10px);
        transition: 0.2s;

        svg {
          fill-opacity: 0.5;
        }
      }

      &:active svg {
        fill-opacity: 0.2;
      }
    }

    &__item-title {
      max-width: 80%;
    }

    &__info {
      position: absolute;
      top: -140px;
      right: 50px;
      display: block;
      font-size: 1.5rem;
      line-height: 1.6;
      color: $btn;
    }
  }
}

@media (min-width: $desktop) {
  .promo {
    margin-top: -74px;
    background-position-y: 0;

    &__text {
      font-size: 5.3rem;
      line-height: 1.1;
      margin-bottom: 350px;
    }

    &__item {
      padding-bottom: 45px;
    }
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi),
  (min-width: 768px) and (min-resolution: 1.5dppx) {
  .promo {
    background-image: url("../img/hero-desktop@2x.jpg");
    background-size: 1200px auto;
  }
}
