.promo-video {


  &__wrap {
    padding: 0 30px;
  }

  &__title {
    font-size: 1.7rem;
    line-height: 1.4;
  }

  &__descr {
    font-size: 1.3rem;
    line-height: 1.84;
  }

  &__inner {
    border: 1px solid $products-card-border;
  }
}
