.promo-video {
  margin-bottom: 60px;

  &__wrap {
    padding: 0 30px;
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 25px 32px;

    svg {
      margin-right: 25px;
      fill: $promo-item-bg;
    }
  }

  &__play {
    position: relative;
    margin-bottom: 25px;

    img {
      width: 100%;
      display: block;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: 0.2s;

      &:hover {
        transform: translateX(-50%) translateY(-50%) scale(1.2);
      }

      &:active {
        transform: translateX(-50%) translateY(-50%) scale(0.8);
        opacity: 0.7;
      }
    }
  }

  &__title {
    font-size: 1.7rem;
    line-height: 1.4;
  }

  &__descr-wrap {
    padding: 0 33px;
  }

  &__descr {
    font-size: 1.3rem;
    line-height: 1.84;
    margin-bottom: 25px;
  }

  &__inner {
    cursor: pointer;
    border: 1px solid $products-card-border;
    padding-bottom: 30px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  &__btn:hover {
    background-color: $btn;
    color: $btn-font-color;
  }

  &__btn:active {
    color: $btn-color-active;
  }
}

@media (min-width: $tablet) {
  .promo-video {
    padding-bottom: 65px;
    margin-bottom: 0;
  }

  .promo-video__wrap {
    padding: 0 50px;
  }

  .promo-video__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
      transition: 0.2s;
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      transition: 0.2s;
    }
  }

  .promo-video__header {
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 42px;
    padding-right: 42px;
  }

  .promo-video__title {
    font-size: 2rem;
    line-height: 1.2;

    br {
      display: none;
    }
  }

  .promo-video__descr-wrap {
    padding: 0 42px;
  }

  .promo-video__descr {
    font-size: 1.5rem;
    line-height: 2;
    margin-bottom: 35px;
  }

  .promo-video__play {
    order: -1;
    margin-bottom: 0;

    img {
      min-height: 455px;
    }
  }
}

@media (min-width: $desktop) {
  .promo-video {
    margin-bottom: 105px;
    padding-bottom: 0;

    &__wrap {
      max-width: 1150px;
      margin: 0 auto;
    }

    &__inner {
      position: relative;
      flex-direction: row;
      padding-bottom: 0;
    }

    &__play {
      width: 683px;
      display: flex;
    }

    &__header {
      position: absolute;
      top: 45px;
      right: 75px;
      width: 210px;
      padding: 0;
      flex-direction: column;
      align-items: flex-start;

      svg {
        margin-bottom: 28px;
      }
    }

    &__title br {
      display: block;
    }

    &__descr-wrap {
      width: 35%;
      padding-left: 80px;
      padding-right: 58px;
      padding-bottom: 60px;
      padding-top: 175px;
      box-sizing: border-box;
    }

    &__descr {
      margin-bottom: 45px;
    }

  }
}
