.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.social-links__item:not(:last-child) {
  margin-right: 40px;
}

.social-links__item:hover svg {
  fill: $footer-link-color-hover;
}

.social-links__item:active svg {
  fill: $footer-link-color-active;
}

@media (min-width: $tablet) {
  .social-links {
    padding: 0;
  }
}
